.cubo,
.cubo .cara {
    width: 200px;
    height: 200px;
}

#superior {
    background-color: rgba(255, 165, 0, 0.83);
}

#frente {
    background-color: rgba(255, 0, 0, 0.79);
}

#derecha {
    background-color: rgba(0, 186, 255, 0.8);
}

#izquierda {
    background-color: rgba(255, 255, 42, 0.84);
}

#atras {
    background-color: rgba(48, 234, 48, 0.76);
}

#inferior{
    background-color: rgba(255, 0, 177, 0.76);
}

.cubo .cara {
    position: absolute;
    border: 1px dotted grey;
}
/*lo ecntramos respecto a su contenedor*/
.cubo {
    margin: 100px auto;

    /*preservar el espacio 3d para el padre cubo y los hijos caras
    asignar una perspectiva para poder
    apreciar mejor el efecto*/
    transform-style: preserve-3d;
    transform: perspective(1000px)
    rotateX(-30deg) rotateY(-30deg);
}

#derecha {
    transform: rotateY(90deg) translateZ(100px);
}

#superior {
    transform: rotateX(90deg) translateZ(100px);
}

#izquierda {
    transform: rotateY(90deg) translateZ(-100px);
}

#inferior {
    transform: rotateX(90deg) translateZ(-100px);
}

#frente {
    transform: translateZ(100px);
}

#atras {
    transform: translateZ(-100px);
}
