@import url('https://fonts.googleapis.com/css?family=Montserrat|Poor+Story|Slabo+27px');
/* 
    font-family: 'Poor Story', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Slabo 27px', serif;
 */

body {
    margin: 0;
    padding: 0;
    background: url(pattern.jpg);
    font-family: "Montserrat";
    color: #594352;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.4);
    width: 90%;
    min-width: 380px;
    margin: 0 auto;
    padding: 10px; /*pa que no estén 100% pegadas las letras*/
}

h1, h2, h3 {
    font-family: "Slabo 27px";
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-size: 300%;
    font-weight: 800;
    color: #c91015;
}

.intro {
    margin-bottom: 1.5em;
    font-size: 125%;
    line-height: 1.5;
    text-align: justify;
}

.logo {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.tagline {
    font-family: "Poor Story";
    font-size: 1.6em;
    color: #e8368c;
    text-shadow: 1px 1px 1px grey;
}

.list-nav {
    display: flex;
    justify-content: space-around;

    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Poor Story";
    font-weight: normal;
    font-size: 1.4rem;
}

.list-nav li a  {
    text-decoration: none;
    color: #ffd6f1;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.list-nav li:first-child a {
    background-color: #566c43;
    color: #f1f8a2;
}

.list-nav li:nth-child(2) a {
    background-color: #fca33c;
    color: #f1f8a2;
}

.list-nav li:nth-child(3) a {
    background-color: #98083f;
    color: #f2b3cb;
}

.list-nav li:last-child a {
    background-color: #25adf5;
    color: #0bebfd;
}

.builder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.component {
    /*revisar esto*/
    flex: 1 1 200px;
    
    display: flex;
    flex-direction: column;

    margin: 20px 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
}

.component h2 {
    /* position: relative; */
    margin: 0 0 .5em 0;
    padding: 10px 0 0 0;
    border-bottom: 1px solid #ffa489;
}

.component ul {
    margin: 0;
    padding: 0;
    flex: 1; /*force it to strech to full height. 
               height 100% wont work because parent
               doesn't have height declared*/

    display: flex;
    flex-direction: column;
}

.builder ul li {
    list-style-type: none;
    line-height: 1.5em;
}

.component ul li:last-child {
    margin-top: auto; /*Para que se vaya al fondo*/
}

.component li {
    margin-bottom: .5em; /*más espacio*/
}

.component li:last-child {
    /*para que la caja de texto de other se quede al lado del label siempre*/
    display: flex;
    align-items: center;
    margin-top: auto;
}

.component li:last-child label {
    /*Para separar el label del cuadro de texto*/
    margin-right: 10px;
}

.component .other-name {
    flex: 1;

    /*FALLBACK POR SI EL NAVEGADOR NO SOPORTA 
    FLEXBOXING PA QUE SE VEA ALGO AL MENOS*/
    /* display: block;
    
    box-sizing: border-box;
    width: 100%; */
    margin: 0;
}

/*DEJAR ESPACIO EN BLANCO PA SEPARAR EN ESTAS CATEGORIAS*/
.action  {
    /*COMO CONTENEDOR FLEXIBLE*/
    flex: 1 1 100%;

    /*COMO ELEMENTO FLEXIBLE*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    /*COMO ELEMENTO NORMAL*/
    margin: 0 0 0 20px;
}


.action label {
    margin-right: 10px;

    font-family: "Slabo 27px";
    font-weight: normal;
    font-size: 112.5%;
    text-transform: uppercase;
}

.action input {
    flex: 1;
}

.action button {
    flex: 1 1 100%;

    margin-top: 10px;

    background-color: #ae5483;
    padding: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    border: none;
}

.gallery {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    
    text-align: center;
}

.gallery-item {
    flex: 1 0 200px; 
    /*wrapping wont happen with 1 as value because of flex basis equal to 0 again
    can use auto as flex basis but then each box
    is different wifth. using an absolute value
    acts as min width but also ensures they start out same size
    so when flex gets adden it gets added equally
    and each box on same line stays same width*/

    margin: 0 010px 10px;
    padding: 20px;
    border-radius: 2px;

    border: 1px solid hsl(30, 28%, 20%);

    background: hsl(20, 28%, 30%);

    color: hsl(30, 28%, 90%);
}

.gallery-item:hover {
    background: hsl(30, 28%, 20%);

    color: #fca33c;
    cursor: pointer;
}

.gallery-item h3  {
    margin: 0 0 .5em 0;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}

.gallery-item ul {
    margin: 0;
    padding: 5px;
    list-style: square;
    text-align: left;
}


.pagination {
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    margin: 20px 10px 40px 10px;
    padding: 0;
    list-style: none;
}

.pagination li:last-child {
    order: 1; /*orden del elemento, si se lo pones a uno lo suyo
                 es que se lo pongas a todos xd*/
    text-align: right;
}

.pagination a {
    display: inline-block; /*just keeps padded boxes from overlapping each other vertically*/
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 2px;
    /* border: 1px solid #E9E2D8; */
    border: 1px solid hsla(0, 0%, 100%, .3);
    background: hsla(0, 0%, 100%, .4);
    text-decoration: none;
    color: black;
}