@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500|Roboto+Slab');
/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Montserrat', sans-serif;*/

*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    overflow-x: hidden;
}

header {
    position: relative;
    top: 1.5em;
    left: 3.5em;
    width: 100%;
    height: 150px;
    /* background-color: black; */
}

#logoFull {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 60%;
    background-image: url(../img/logoFull.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#topMenu {
    position: absolute;
    top: 42px;
    right: 100px;
}

li {
    display: inline-block;
}

.topMenu2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 3.25em;
    padding-right: 50px;
    text-align: center;
}

.menuSelected {
    text-decoration: line-through;
}

/*----------BANNER----------*/

#fotoContacto {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(../img/Contacto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#mainContacto {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
}

.h1Fancy {
    position: absolute;
    top: 0.5em;
    left: 15vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    color: #787FA0;
    font-size: 7em;
    margin-bottom: 2.5vw;
}

.h1Fancy::before {
    content: "-";
    font-size: 95px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: black;
    position: absolute;
    left: -50px;
    top: -20px;
}

p {
    position: absolute;
    width: 45em;
    top: 12em;
    margin-top: 0.5vw;
    left: 15vw;
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

form {
    position: relative;
    top: 50em;
    left: 15vw;
}

input, textarea {
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    resize: none;
}

#inputNombre {
    position: absolute;
    top: 0;
    left: 0;
}

#inputAsunto {
    position: absolute;
    top: 0;
    left: 350px;
}

#inputEmail {
    position: absolute;
    top: 5em;
    left: 0;
}

#inputTel {
    position: absolute;
    top: 10em;
    left: 0;
}

#inputMensaje {
    position: absolute;
    top: 5em;
    left: 350px;
    height: 100px;
}

#inputEnviar {
    position: absolute;
    top: 15em;
    left: 525px;
    width: 120px;
    background-color: #c1c5d6;
    border-style: none;
    font-weight: 500;
}

footer {
    position: relative;
    background: #5a5b62;
    width: 100%;
    height: 250px;
    top: 90em;
    left: 0;      
    font-family: 'Roboto Slab', serif;
    color: #c1c5d6;
}

#tituloFooter {
    position: absolute;
    top: 1.5em;
    left: 3.5em;
    font-size: 1.6em;
}

.tituloMenuFooter {
    font-weight: bold;
}

#menuMain {
    position: absolute;
    top: 0;
    left: 20vw;
    font-size: 1.6em;
}

#menuProyectos {
    position: absolute;
    top: 0;
    left: 40vw;
    font-size: 1.6em;
}

#menuContacto {
    position: absolute;
    top: 0;
    left: 60vw;
    font-size: 1.6em;
}

#menuMain *, #menuProyectos *, #menuContacto * {
    display: list-item;
    padding: 15px;
    list-style: none;
    text-decoration: none;
    color: #c1c5d6;
}

#copyright {
    position: absolute;
    top: 2em;
    right: 10vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
}


