@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500|Roboto+Slab');
/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Montserrat', sans-serif;*/

*{
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

#mainSection {
    position: relative;
    width: 100%;
    height: 100vh;

}

/*----------HEADER----------*/

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 10;
}

#logo {
    position: absolute;
    left: 40px;
    top: 30px;
    width: 120px;
    height: 120px;
    background-image: url(../img/logo.svg);
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: black;
}

#topMenu {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 25px;
}

li {
    display: inline-block;
}

.topElement {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 3.4em;
    padding-right: 50px;
    text-align: center;
}

.menuSelected {
    text-decoration: line-through;
}

/* MAIN */

#main {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: url(../img/fondoMain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vw;
}

.h1Thin {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 8em;
}

#tituloMain  {
    position: absolute;
    bottom: 10px;
    left: 150px;
}


/*----------SECTION WELCOME----------*/

#welcome {
    position: relative;
    top: 8.35vw;
    left: 0;
    width: 100%;
    height: 40vw;
}

#raro {
    position: relative;
    width: 550px;
    height: 30%;
    top: 0vw;
    left: 8.07vw;
    border-top-style: solid;
}

.h3Thin {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
}

#h3Estudio {
    position: absolute;
    top: 0;
    left: 140px;
}

#textoWelcome {
    position: absolute;
    right: 0;
    top: 150px;
    width: 35%;
    height: 30%;;
}

.h1Fancy {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    color: #787FA0;
    font-size: 7em;
}

#h1Bienvenido {
    position: absolute;
    top: 230px;
    right: 400px;

}

#h1Bienvenido::before {
    content: "-";
    font-size: 95px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: black;
    position: absolute;
    left: -50px;
    top: -20px;
}

p {
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
} 

#pWelcome {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 350px;
    right: 200px;
}

/*----------SECTION ABOUT US----------*/

#aboutUs {
    position: relative;
    top: 25vw;
    left: 0;
}

#imgAboutUs {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/BannerMain.jpg);
    background-size: contain;
    width: 100%;
    height: 250px;
}

#textoAboutUs {
    position: absolute;
    top: 25vw;
    left: 10vw;
    width: 71%;
}

#h1AboutUs::before {
    content: "-";
    font-size: 95px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: black;
    position: absolute;
    left: -50px;
    top: -20px;
}

#pAboutUs {
    position: absolute;
    top: 7vw;
    left: 35vw;
}

button {
    background-color: #c1c5d6;
    border: none;
    color: black;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8em;
    cursor: pointer;
    border-radius: 0.5em;
}


#botonMain {
    position: absolute;
    top: 47vw;
    left: 46vw;
}

/*---------- FOOTER ----------*/

footer {
    position: relative;
    background: #5a5b62;
    width: 100%;
    height: 250px;
    top: 82vw;
    left: 0;   
}

#botMenu {

}

#footerList {

}