@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Niramit');
/* @import url('https://fonts.googleapis.com/css?family=Niramit:400igit '); */

/*---------------MAIN---------------*/
body {
    position: relative;
    background-color: #F9F7EE;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

/*---------------HEADER---------------*/
header {
    width: 100%;
    height: 60px;
    background: white;
    position: absolute;
    top: 10px;
    z-index: 10;
}

#logo {
    position: relative;
    left: 10vh; /*200/1920*/
    bottom: 15px;
    width: 350px;
}

nav {
    margin: 0;
    width: 75%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

#enlaces {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    position: relative;
    width: 95%;
    height: 100%;
}

.topLink {
    width: 150px; /*150/1920*/
    height: 40px; /*40/70*/
    display: inline-block;
    padding-right: 70px;
    font-size: 25px;
    position: relative; 
    top: 10px;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Niramit', sans-serif;
    color: black;
    line-height: 40px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Niramit', sans-serif;
}

a:active {
    text-decoration: underline;
}

/*---------------SECCION MAIN---------------*/
#main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/comida4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 70%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#scrollbar {
    width: 100%;
    position: absolute;
    height: 4.325625vw;
    background: rgba(255,255,255,0.7);
    bottom: 0;
}

#scroll-down {
    position: absolute;
    top: -1.5vw;
    left: 47%;
    height: 7.35vw;
    z-index: 5;
}

/*---------------SECCION RESTAURANTE---------------*/
#restaurante {
    position: relative;
    margin: 0;
    width: 100%;
    height: 51.58vw;
}

h1 {
    font-family: 'Niramit', sans-serif;
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
}

#tituloRest {
    position: relative;
    left: 8.88vw;
    top: 3vh;
}

p {
    font-family: 'Niramit', sans-serif;
    font-size: 1vw;
}

#rest1 {
    position: absolute;
    width: 19vw;
    left: 9vw;
    top: 9vw;
}

#rest2 {
    position: absolute;
    left: 29vw;
    width: 19vw;
    top: 9vw;
}

#rest3 {
    position: absolute;
    width: 19vw;
    left: 9vw;
    top: 29vw;
}

#rest4 {
    position: absolute;
    width: 19vw;
    left: 29vw;
    top: 29vw;
}

#parrafo1Rest {
    position: absolute;
    right: 10px;
    top: 11.694375vw;
    left: 59.12vw;
    height: 20%;
    width: 22%;
    overflow-wrap: break-word;
    font-family: 'Niramit', sans-serif;
    font-style: italic;
}

#parrafo2Rest {
    position: absolute;
    right: 10px;
    bottom: 1vw;
    left: 59.12vw;
    height: 20%;
    width: 22%;
    overflow-wrap: break-word;
    font-family: 'Niramit', sans-serif;
    font-style: italic;
}


/*---------------LATERAL DE RESTAURANTE---------------*/

#sidebar {
    position: absolute;
    width: 11vw;
    height: 100%;
    right: 0;
    top: 0px;
}

#letras {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 5.5vw;
    top: 0;
    background-color: #CDB79E;
    border-right: solid;
    border-width: 3px;
}

#letrasJP {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 5.208vw;
    text-align: center;

}

.sidepane {
    position: absolute;
    width: 50%;
    height: 24.4%;
    background: none;
    border-style: solid;
    border-width: 3px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    right: 0;
}

#sidepane1 {
    top: 0;
    border-top: none;
}

#sidepane2 {
    top: 25%;
}

#sidepane3 {
    top: 50%;
}

#sidepane4 {
    top: 75%;    
    border-bottom: solid;
}

/*---------------SECCION CHEF---------------*/

#chef {
    position: relative;
    width: 100%;
    height: 85vw;
}

#origami {
    position: relative;
    top: -3.7vw;
    left: -3vw;
}

#palomas {
    position: absolute;
    width: 100vw;
    pointer-events: none;
}

#tituloChef {
    position: absolute;
    top: 10.82vw;
    right: 13.41vw;
}

.fancy {
    font-family: 'Nothing You Could Do', sans-serif;
    font-size: 3.5vw;
}

#chicote {
    position: absolute;
    top: 30.01vw;
    left: 9.7931vw;
}

#parrafo1Chef {
    position: absolute;
    width: 35%;
    height: 10%;
    top: 38.625vw;
    left: 7vw;
    font-size: 1vw;
    line-height: 1.56vw;
}

#titulo2Chef {
    font-family: 'Nothing You Could Do', sans-serif;
    font-size: 1.8vw;
    position: absolute;
    width: 35%;
    height: 10%;
    top: 60.125vw;
    left: 7vw;
}

#parrafo2Chef {
    position: absolute;
    width: 35%;
    height: 10%;
    top: 63.9375vw;
    left: 7vw;
    font-size: 1vw;
    line-height: 1.56vw;
}

#fotoChicote {
    position: absolute;
    width: 32%;
    top: 33.625vw;
    right: 13vw;
    pointer-events: none;
}

/*---------------SECCION ESPECIALIDADES---------------*/

#carta {
    position: relative;
    width: 100%;
    height: 55vw;
    top: 0;
    left: 0;
}

#tituloCarta {
    position: absolute;
    top: 0;
    right: 20vw;
    z-index: 4;
}

#logoCarta {
    position: absolute;
    top: -1.5vw;
    right: 3vw;
    width: 31.25vw;
    pointer-events: none;
}

#parrafoCarta {
    position: absolute;
    top: 12vw;
    left: 7vw;
    column-count: 2;
    width: 50%;
    column-width: 100px;
}

.fotoComida, .parrafoComida {
    position: absolute;
    width: 20.83vw;
    top: 30vw;
}

#comida1 {
    left: 3vw;
    display: block;
}

#comida2 {
    left: 26vw;

}

#comida3 {
    right: 26vw;

}

#comida4 {
    right: 3vw;

}

#parrafo1Comida {
    top: 34vw;
    left: 3vw;
    text-align: center;
    color:white;
    font-weight: bold;
    pointer-events: none;
    display: none;
}

#parrafo2Comida {
    top: 34vw;
    left: 26vw;
    text-align: center;
    color: white;
    font-weight: bold;
    pointer-events: none;
    display: none;
}

#parrafo3Comida {
    top: 34vw;
    right: 26vw;
    text-align: center;
    color: white;
    font-weight: bold;
    pointer-events: none;
    display: none;
}

#parrafo4Comida {
    top: 34vw;
    right: 3vw;
    text-align: center;
    color: white;
    font-weight: bold;
    pointer-events: none;
    display: none;
}

.fotoComida:hover{
    filter: brightness(50%);
}

#comida1:hover~#parrafo1Comida {
    display: block;
}

#comida2:hover~#parrafo2Comida {
    display: block;
}

#comida3:hover~#parrafo3Comida {
    display: block;
}

#comida4:hover~#parrafo4Comida {
    display: block;
}

footer {
    position: relative;
    width: 100%;
    height: 60px;
    background: #2E2E2E;
    bottom: 0;
}

#ulFoot {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    position: relative;
    width: 95%;
    height: 100%;
}

#enlacesAbajo {
    position: absolute; 
    top: 25%;
    right: 200px;
}

.botLink {
    width: 100%;
    height: 100%; 
    padding-right: 15px;
    font-size: 1em;
    text-align: center;
    font-family: 'Niramit', sans-serif;
    color: #CDB79E;
}

#design {
    position: absolute;
    top: 25%;
    left: 25px;
    font-size: 1em;
    font-family: 'Niramit', sans-serif;
    color: #CDB79E;
    text-align: center;
}


/*SECCION CONTACTO*/

#contacto {
    position: relative;
    margin: 0;
    width: 100%;
    height: 75.58vw;
}

#tituloContacto {
    position: absolute;
    top: 3.82vw;
    left: 7.41vw;
    font-size: 1.8vw;
    font-weight: normal;
}

#contenedorInfo {
    position: absolute;
    top: 13.82vw;
    left: 7.8125vw;
    height: 22.61vw;
    width: 85%;
    background-color: rgba(237,225,177,0.58);
    border-radius: 2.5vw;
}

#imagenEdificio {
    position: absolute;
    height: 85%;
    top: 1.5vw;
    left: 2vw;
}

#iconoUbi, #iconoTLF, #iconoMail {
    position: absolute;
    width: 1.8vw;
}

#textoContacto {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 0;
    right: 0;
    margin-top: 3.604vw;
    font-family: 'Niramit', sans-serif;
    font-size: 1.111111vw;
}

.spanContacto {
    text-align: center;
    padding-left: 3vw;
    line-height: 15px;
}

#iconoUbi {
    width: 2.5vw;
    text-align: center;
}

#formulario {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 40.82vw;
    left: 7.8125vw;
}

input[type=text], input[type=tel], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: #EDE1B1;
    color: black;
    font-weight: bold;
    font-family: 'Niramit', sans-serif;
    font-size: 1.111vw;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 1vw;
}

input[type=submit]:hover {
    background-color: #CDB79E;
}

#nombre {
    position: absolute;
    width: 20%;
    top: 0;
    left: 2vw;
}

#telefono {
    position: absolute;
    width: 20%;
    top: 5vw;
    left: 2vw;
}

#fecha {
    position: absolute;
    width: 20%;
    top: 10vw;
    left: 2vw;
}

#area {
    position: absolute;
    width: 20%;
    top: 15vw;
    left: 2vw;
    height:10.4166vw;
}

#botonEnviar {
    position: absolute;
    width: 10%;
    top: 29vw;
    left: 12vw;
}

#maps {
    position: absolute;
    height: 450px;
    width: 900px;
    top: 41.3vw;
    right: 2vw;;
    background-image: url("../img/maps.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}