/*CSS*/

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Montserrat|Montserrat:500');

/*COMUN, CLASES*/
* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-flow: column nowrap;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html, body {
    width: 100%;
}

a {
    text-decoration: none;
    color: #c6d2ed;
}

.linkBold {
    font-size: 3.3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.h1Fancy {
    font-size: 10em;
    font-family: 'Bree Serif', serif;
    color: white;
    font-weight: normal;
}

.h1Thin {
    font-size: 8em;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: normal;
}

.h3Fancy {
    font-size: 5em;
    font-family: 'Bree Serif', serif;
    color: #280003;
    font-weight: normal;
}

.h4Fancy {
    font-size: 3em;
    font-family: 'Bree Serif', serif;
    color: white;
    font-weight: normal;
}


.spanThin{
    font-size: 3.3em;
    font-family: 'Montserrat', sans-serif;
    color: #696D7D;
    font-weight: normal;
}

.parrafo {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: normal;
}

.pInfo {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #696D7D;
    font-weight: normal;
}


/*HEADER ---------------------------------------------------------------COMUN*/
header, nav {
    width: 100%;
    height: 100px;
}

header {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 7;
}

nav {
    position: relative;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    width: 200px;
    height: 100%;
    top: 3em;
    left: 5em;
    background-image: url('../img/logoNaranja.svg');
    background-repeat: no-repeat;
}

header #headerUl {
    position: absolute;
    right: 0;
    padding-top: 3em;
    list-style-type: none;
}

.headerElement {
    display: inline-block;
    color: #c6d2ed;
    font-size: 3em;
    padding-right: 7vw;
}

/*FOOTER ---------------------------------------------------------------COMUN*/

footer {
    margin-top: 10em;
    height: 350px;
    background-color: #696D7D;
}

#footerMain {
    top: 320em;
}

/*SECCION MAIN*/
#mainInicio {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    z-index: -7;
    min-width: 1920px;
}

#h1MainMain {
    z-index: 7;

    position: absolute;
    top: 4em;
    left: 2.8em;

    width: 800px;
    line-height: 1.25;
}

.arrow {
    z-index: 7;

    position: absolute;
    top: 52em;
    left: 42em;
    
    width: 550px;
    height: 300px;

    background-image: url('../img/flecha.svg');
    background-repeat: no-repeat;
}

#h4MainMain {
    z-index: 7;

    position: absolute;
    top: 23em;
    left: 23em;
}

/*SECCION*/
#mainInfo {
    padding-top: 20em;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#h1MainInfo {

}

#spanMainInfo {

}

#divpInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info {
    flex: 1 1 200px;
    
    display: flex;
    flex-direction: column;
    width: 25%;

    margin: 20px 100px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
}

#h4Rutas, #h4Retos, #h4Mundo {
    color: black;
    padding-bottom: 2em;
}

#imgInfo1 {
    height: 200px;
    min-width: 200px;
    background-size: contain;
    background-image: url('../img/info1.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

#imgInfo2 {
    height: 200px;
    min-width: 200px;
    background-size: contain;
    background-image: url('../img/info2.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

#imgInfo3 {
    height: 200px;
    min-width: 200px;
    background-size: contain;
    background-image: url('../img/info3.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

/*SECCION ESCALADA*/
#mainEscalada {
    padding-top: 20em;
    flex-direction: column; 
    justify-content: center;
    align-items: left;
}

#mainEscalada * {
    padding-left: 22%;
}

#h3MainEscalada {
    /* width: 33%; */
    flex: 1 1 200px;
    /* padding-left: 10%; */
}

#mntSVG {
    flex: 1 1 80em;
    /* width: 100%; */
    height: 80em;
    background-image: url('../img/mnt.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#parrafoMain {
    width: 70%;
    padding-left: 15%;
}


