/*FUENTES*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Montserrat|Montserrat:500');
/*ANIMACIONES*/

@keyframes topFadeIn {
  0% {
    top: 3em;
    opacity: 0;
  }

  100% {
    top: 4em;
    opacity: 1;
  }
}

@keyframes botFadeIn {
    0% {
      top: 25em;
      opacity: 0;
    }
  
    100% {
      top: 23em;
      opacity: 1;
    }
  }

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    50% {
        opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

@keyframes animFlecha {
    0% {
        left: -30em;
        opacity: 0;
    }
  
    50% {
        opacity: 0.25;
    }

    100% {
      left: 42em;
      opacity: 1;
    }
}

@keyframes menuHover {
    0% {
        font-size: 3em;
    }
  
    100% {
      font-size: 3.1em;
    }
}

/*COMUN, CLASES*/
* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-flow: column nowrap;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html, body {
    width: 100%;
}

.dark {
    color: #280003;
}

a {
    text-decoration: none;
    color: #c6d2ed;
    font-family: 'Montserrat', sans-serif;
}

.linkBold {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.h1Fancy {
    font-size: 10em;
    font-family: 'Bree Serif', serif;
    color: white;
    font-weight: normal;
}

.h1Thin {
    font-size: 8em;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: normal;
}

.h3Fancy {
    font-size: 5em;
    font-family: 'Bree Serif', serif;
    color: #280003;
    font-weight: normal;
}

.h4Fancy {
    font-size: 3em;
    font-family: 'Bree Serif', serif;
    color: white;
    font-weight: normal;
}


.spanThin{
    font-size: 3.3em;
    font-family: 'Montserrat', sans-serif;
    color: #696D7D;
    font-weight: normal;
}

.parrafo {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: normal;
}

.pInfo {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #696D7D;
    font-weight: normal;
}

input, textarea {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    /* border-color:  */
    border: solid #280003 1px;
    padding-left: 10px;
}

input {
    height: 40px;
}

textarea {
    resize: none;
    padding-top: 5px;
}

/*HEADER ---------------------------------------------------------------COMUN*/
header, nav {
    width: 100%;
    height: 100px;
}

header {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    z-index: 7;
}

nav {
    position: relative;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    width: 200px;
    height: 100%;
    top: 3em;
    left: 5em;
    background-image: url('../img/logoNaranja.svg');
    background-repeat: no-repeat;
}


header #headerUl {
    position: absolute;
    right: 0;
    padding-top: 3em;
    list-style-type: none;
}

#headerUl li {
    display: inline;
    color: #c6d2ed;
    font-size: 3em;
    padding-right: 7vw;
}

.menuIcon  {
    display: none;
    padding: 0;
}

.headerElement:hover {
    color: #696D7D;
    transform: scale(0.7);
}

.headerButton {
    display: none;
    padding-right: 0;
}

@media screen and (max-width: 1260px) {
    #headerElement1 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .headerElement {
        display: none;
    }

    #headerUl {
        padding-right: 8%;
    }

    .headerButton {
        display: inline-block;
        padding-top: 2em;
    }

}

/*FOOTER ---------------------------------------------------------------COMUN*/

footer {
    margin-top: 10em;
    height: 550px;
    background-color: #696D7D;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    color: white;

}

#ulFooter {
    width: 100%;
}

.columnFooter li {
    list-style-type: none;
    padding-bottom: 1em;
}

.h4Fat {
    padding-left: 12%;
    padding-top: 5em;
}

#ulFooter {
    padding-left: 12%;
}

.columnFooter {
    padding-top: 5em;
    width: 10%;
    display: inline-block;
    margin-right: 5em;
}

#RRSS {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #280003;
    bottom: -5em;
    display: flex;
}

.socialMedia {
    width: 33.33333333%;
}

#twitter {
    background-color: #1DA1F2;
    background-image: url('../img/twitter.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 350px;
}

#facebook {
    background-color: #4267B2;
    background-image: url('../img/facebook.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 350px;
}

#instagram {
    background-color: #8F37A5;
    background-image: url('../img/instagram.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 350px;
}

#footerMain {
    top: 320em;
}

/************************************************************************
*************************************************************************
*************************************************************************
*************************************************************************
---------------------------------MAIN------------------------------------
*************************************************************************
*************************************************************************
*************************************************************************
************************************************************************/

/*SECCION MAIN*/
#mainInicio {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    z-index: -7;
    min-width: 1920px;
}

#h1MainMain {
    z-index: 7;

    position: absolute;
    top: 4em;
    left: 2.8em;

    animation-name: topFadeIn;
    animation-duration: 2s;

    width: 800px;
    line-height: 1.25;
}

.lateFade {
    animation-name: fadeIn;
    animation-duration: 2.5s;
}

.arrow {
    z-index: 7;

    position: absolute;
    top: 52em;
    left: 42em;

    animation-name: animFlecha;
    animation-duration: 1s;


    width: 550px;
    height: 300px;

    background-image: url('../img/flecha.svg');
    background-repeat: no-repeat;
}



#h4MainMain {
    z-index: 7;

    position: absolute;
    top: 23em;
    left: 23em;

    animation-name: botFadeIn;
    animation-duration: 2s;
}

/*SECCION*/
#mainInfo {
    padding-top: 20em;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#h1MainInfo {

}

#spanMainInfo {

}

#divpInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info {
    flex: 1 1 200px;
    
    display: flex;
    flex-direction: column;
    width: 25%;

    margin: 20px 100px;
    padding: 20px;
    text-align: center;
}

#h4Rutas, #h4Retos, #h4Mundo {
    color: black;
    padding-bottom: 2em;
}

#imgInfo1 {
    height: 200px;
    min-width: 200px;
    background-size: contain;
    background-image: url('../img/info1.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

#imgInfo2 {
    height: 200px;
    min-width: 200px;
    background-size: contain;
    background-image: url('../img/info2.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

#imgInfo3 {
    height: 200px;
    min-width: 200px;
    background-size: contain;
    background-image: url('../img/info3.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

/*SECCION ESCALADA*/
#mainEscalada {
    padding-top: 20em;
    flex-direction: column; 
    justify-content: center;
    align-items: left;
}

#mainEscalada * {
    padding-left: 22%;
}

#h3MainEscalada {
    /* width: 33%; */
    flex: 1 1 200px;
    /* padding-left: 10%; */
}

#mntSVG {
    flex: 1 1 80em;
    /* width: 100%; */
    height: 80em;
    background-image: url('../img/mnt.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#parrafoMain {
    width: 50%;
    padding-left: 22%;
    margin-top: 5em;
}

#linkMainEscalada {
    margin-top: 3em;
}

@media screen and (max-width: 926px) {
    #h1MainMain {
        left: 30%;
        font-size: 8em;
        width: 90%;
        top: 3em;
    }

    .arrow {
        left: -10%;
        width: 400px;
        top: 58em;
        animation-duration: 3s;
    }

    #h4MainMain {
        left: 30%;
        top: 20em;
    }
}

@media screen and (max-width: 926px) {
    #h1MainMain {
        margin-left: -29%;
        width: 90%;
    }
}

/************************************************************************
*************************************************************************
*************************************************************************
*************************************************************************
---------------------------------ABOUT US--------------------------------
*************************************************************************
*************************************************************************
*************************************************************************
************************************************************************/

/*SECCION MAIN ABOUT US*/
#auInicio {
    height: 100vh;
    background-image: url('../img/bgAboutUs.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

#h1AUMain {
    font-size: 9em;
    padding-top: 2em;
    padding-left: 52%;
    width: 45%;
    animation-name: topFadeIn;
    animation-duration: 2s;
}

#orange {
    color: #DD6E42;

    animation-name: fadeIn;
    animation-duration: 2s;
}

@media screen and (max-width: 1000px) {
    #h1AUMain {
        font-size: 8em;
        padding-left: 7%;
    }
}


/*SECCION TEAM ABOUT US*/

#auTeam {
    padding-top: 20em;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#h1AUTeam {
    text-align: center;
}

#spanAuInfo {
    width: 30%;
    text-align: center;
}

#fotos {
    padding-top: 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fotoTeam {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    width: 400px;
    
    margin: 20px 70px;
    padding: 20px;
    text-align: center;
}

#fotoTeam1 {
    height: 700px;
    min-width: 200px;
    background-image: url('../img/team1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#fotoTeam2 {
    height: 700px;
    min-width: 200px;
    background-image: url('../img/team2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#fotoTeam3 {
    height: 700px;
    min-width: 200px;
    background-image: url('../img/team3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (max-width: 650px) {
    #h1AUTeam {
        font-size: 7em;   
    }

    #spanAuInfo {
        width: 80%;
    }
}

/*SECCION ALPINISMO ABOUT US*/

#auAlpinismo {
    padding-top: 10em;
    padding-left: 30em;
}

#h1AuAlpinismo {
    color: #280003;
    font-size: 9em;
    width: 40%;
}

#parrafoAu1 {
    padding-top: 5em;
    width:  70%;
    padding-left: 5em;
}

@media screen and (max-width: 1000px) {

    #auAlpinismo {
        padding-left: 0;
    }

    #h1AuAlpinismo {
        font-size: 8em;   
        width: 80%;
        padding-left: 12%;
    }
}

/*SECCION FORMARSE EN MNCLUB*/

#auFormarse {
    padding-top: 20em;   
}

#h1AuFormarse {
    color: #280003;
    font-size: 9em;
    width: 45%;
    padding-left: 40%;
}

#parrafoAu2 {
    padding-top: 5em;
    padding-left: 30em;
    width: 45%;
}

iframe {
    margin-top: 15em;
    margin-left:80em; 
    /* width: 100%; */
}

@media screen and (max-width: 1260px) {
    #h1AuAlpinismo {
        width: 70%;
    }

    #h1AuFormarse {
        width: 70%;
        padding-left: 10%;
        font-size: 8em;
    }

    #parrafoAu2 {
        padding-left: 20%;
        width: 80%;
    }

    iframe {
        margin-left: 20%;
        width: 500px;
        height: 300px;
    }
}

@media screen and (max-width: 560px) {
    iframe {
        margin-left: 10%;
        width: 80%;
    }
}

/************************************************************************
*************************************************************************
*************************************************************************
*************************************************************************
---------------------------------CONTACTO--------------------------------
*************************************************************************
*************************************************************************
*************************************************************************
************************************************************************/
#cnInicio {
    width: 100%;
    /* height: 180em; */
    padding-bottom: 10em;

    flex-direction: column; 
    justify-content: start;
    align-items: center;

    background-image: url('../img/bgContacto.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#h1CnInicio {
    color: #280003;
    padding-top: 2.5em;
    padding-left: 1.5em;
    font-size: 9em;
}

#h1CnInicio2 {
    color:#28000386;
    padding-top: 5em;
    font-size: 9em;
    animation-name: fadeIn;
    animation-duration: 1s;
}

#logoDark {
    position: absolute;
    width: 200px;
    height: 100%;
    top: 3em;
    left: 5em;
    background-image: url('../img/logoDark.svg');
    background-repeat: no-repeat;
}

form {
    padding-top: 300px;
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    padding-left: 200px ;
}

.columna {
    flex: 1 1 200px;

    display: flex;
    flex-flow: column wrap;
    width: 20%;
    
    margin: 20px 10px;
    padding: 20px;
}

form * {
    margin-top: 30px;
    box-sizing: border-box;
}

#footerDark {
    margin-top: 0em;
    height: 450px;
    padding-bottom: 6em;
    background-color:#1a0002;
    top: 350em;
}

@media screen and (max-width: 1260px) {
    form {
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {
    #h1CnInicio {
        padding-left: 0;
    }
}

/************************************************************************
*************************************************************************
*************************************************************************
*************************************************************************
---------------------------------CONTACTO--------------------------------
*************************************************************************
*************************************************************************
*************************************************************************
************************************************************************/

#bodyRutas {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../img/pattern.svg);
    background-size: contain;
}

#mainRutas {
    padding-top: 30em;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#h1MainRutas {
    font-size: 10em; 
}

#parrafoMainRutas {
    padding-top: 5em;
    width: 60%;
    text-align: justify;
}

#rutasRutas {
    padding-top: 20em;

    flex-wrap: wrap;
    flex-direction: row;
}

.fichaRuta {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;;

    background-color: #c6d2ed96;
    border-radius: 5%;
    
    margin: 20px 70px;
    padding: 20px;
    text-align: center;
}

#fotoRuta1 {
    height: 320px;
    width: 100%;
    background-image: url(../img/r1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}

#fotoRuta2 {
    height: 320px;
    width: 100%;
    background-image: url(../img/r2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}

#fotoRuta3 {
    height: 320px;
    width: 100%;
    background-image: url(../img/r3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}

#fotoRuta4 {
    height: 320px;
    width: 100%;
    background-image: url(../img/r4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}

#fotoRuta5 {
    height: 320px;
    width: 100%;
    background-image: url(../img/r5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}

#fotoRuta6 {
    height: 320px;
    width: 100%;
    background-image: url(../img/r6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}

#h4Ruta1, #h4Ruta2, #h4Ruta3, #h4Ruta4, #h4Ruta5, #h4Ruta6  {
    color: black;
    padding-bottom: 1em;
}


